* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: 'Georgia', serif;
background-color: #fffff2ee;
color: #333;
}

header {
background-color: #000000;
color: white;
text-align: center;
padding: 30px 15px;
}

header h1 {
font-size: 2.5em;
}

header nav ul {
list-style: none;
margin-top: 15px;
}

header nav ul li {
display: inline;
margin: 0 15px;

}

header nav ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

.container {
max-width: 900px;
margin: auto;
padding: 30px 20px;
}

.bloco {
background-color: #fcfcfb;
margin-bottom: 30px;
padding: 20px;
border-left: 6px solid #fcff5c;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.bloco h2 {
color: #fcfffb;
margin-bottom: 10px;
}

ul {
padding-left: 20px;
}

form {
display: flex;
flex-direction: column;
}

form label {
margin-top: 10px;
margin-bottom: 5px;
}

form input,
form textarea {
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

form button {
margin-top: 15px;
padding: 10px;
background-color: #fffdfd;

color: rgb(0, 0, 0);
border: none;
border-radius: 4px;
cursor: pointer;
}

form button:hover {
background-color: #fffff9;
}
footer {
background-color: #f1ff71;
color: white;
text-align: center;
padding: 15px 0;
margin-top: 40px;
}